div.header {
	background: #67c;
	padding: 9pt 9pt 6pt 9pt;
}
div.header .tab {
	background: #9cf;
	padding: 6pt;
	border-radius: 6pt 6pt 0pt 0pt;
	cursor: default;
}
div.header .activetab {
	background: #fff;
	padding: 6pt;
	border-radius: 6pt 6pt 0pt 0pt;
	cursor: default;
}
div.header .button {
	background: #fcc;
	padding: 3pt;
	border-radius: 5pt;
	cursor: default;
}
div.header .spacer {
	padding: 0pt 15pt;
}

.hidden {
	display: none;
}

div.page {
	padding: 8pt 6pt;
}

body {
	margin: 0;
}

* {
	font-family: sans-serif;
}
