div.header {
	background: #67c;
	padding: 9pt 9pt 6pt 9pt;
}
div.header .tab {
	background: #9cf;
	padding: 6pt;
	border-radius: 6pt 6pt 0pt 0pt;
	cursor: default;
}
div.header .activetab {
	background: #fff;
	padding: 6pt;
	border-radius: 6pt 6pt 0pt 0pt;
	cursor: default;
}
div.header .button {
	background: #fcc;
	padding: 3pt;
	border-radius: 5pt;
	cursor: default;
}
div.header .spacer {
	padding: 0pt 15pt;
}

.hidden {
	display: none;
}

div.page {
	padding: 8pt 6pt;
}

body {
	margin: 0;
}

* {
	font-family: sans-serif;
}

div.adminbar {
	border: solid #080;
	border-width: 0 0 1pt 0;
	padding: 9pt;
	margin-bottom: 6pt;
}

div.adminbar .tab {
	border: solid #080 1pt;
	border-radius: 6pt;
	padding: 3pt;
	cursor: default;
}

div.adminbar .activetab {
	border: solid #080 1pt;
	border-radius: 6pt;
	background: #080;
	color: #fff;
	padding: 3pt;
	cursor: default;
}

table {
	border: solid #000 1pt;
	border-collapse: collapse;
}
th {
	background: #000;
	color: #fff;
	border: solid #fff 1pt;
	padding: 3pt 5pt;
}

div.creation-form {
	background: #8c8;
	border-radius: 6pt;
}
