[Unit]
Description=Handles user page with slack login

[Service]
Type=simple
ExecStart=/usr/local/bin/uwsgi --socket 127.0.0.1:8082 -w wsgi
WorkingDirectory=/opt/easn/userpage
