{
	"client_id": "{{ userpage_client_id }}",
	"client_secret": "{{ userpage_client_secret }}",
	"status": "{{ status }}",
	"team_id": "{{ team_id }}",
	"session_timeout_seconds": 600.0,
	"db_host": "localhost",
	"db_port": 5432,
	"db_name": "easn",
	"db_migration_user": "migration",
	"db_migration_password": "{{ db_migration_password }}",
	"db_app_user": "app",
	"db_app_password": "{{ db_app_password }}",
	"initial_admin_slack_id": "{{ initial_admin_slack_id }}"
}
