<html>
<head>
<meta charset="utf-8">
</head>
<body>
<h1>This is the EA Safety Net ({{ status }})</h1>
<a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id={{ userpage_client_id }}&team={{ team_id }}"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
</body>
</html>
